body {
    
    font-family: 'Source Code Pro', monospace;
    background-color: black;
}

.titulo{
    font-size: 5em;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    color: white;
    
}
.chat{
    
    text-align: left;
    margin-left: 10vw;
    margin-top: 10vh;
}

input  {
    width: 50vw;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    background-color: #0a0808;
    color: white;
    border-color: #00000000;
    vertical-align: middle;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    
}

#chatLog {
    margin-right: 10vw;
    color: white;
}

.pelicula {
position: absolute;
top: 0;
left: 0;
width: 100vw;
}

#video {
z-index: -10;
}

#loop1 {
    z-index: -11;
    }

#video2 {
        z-index: -12;
        }

#loop2 {
        z-index: -13;
        }
#video3 {
            z-index: -14;
            }

.hide{
    display: none;
}

.footer {
    position: absolute;
    color: white;
    top:60vh;
    left: 50vw;
    right: 50px;
}
.autor {
    color: gray;
}